#main-container {
    margin:auto;
}
#column-right{
    float:left;
    width:12em;
}
#column-content{
    float:left;
    margin:20px;
    width:700px;
}

#top-menu ul {
	display:inline;
	margin:0.5em;
} 

#top-menu ul li {
	list-style: none;
	float:left;
	padding:0.2em;
	border: 1px solid black;
}

img {
    border:0px solid transparent;
}

table th {
}

input {
    border:1px solid gray;
}

.inline_form {
    float:left;
    margin-right:0.3em;
}

.inline_form_last {
    clear:both;
}
