body {
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    margin:0;
    padding:0;
    background:#5F5F5F ;
}

a {
    color: #c75f3e;
}

div#top-menu {
    padding:5px 10px;
    background:#283331;
    text-align:right;
}
div#top-menu h1 {
    margin-top:0;
    padding-top:0.25em;
    text-align:left;
}

div#actions-container {
    margin-right:10px;
    color:white;
}

#column-right ul{
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
/*    height:38px;*/
    background:#5E5E5E;
}

#column-right ul li{
    display: inline;
    vertical-align:middle;
}

ul.expense-year-list li {
    display:inline;
}

div#column-content {
    background:white;
    width:950px;
    border:1px solid #A6A6A6;
    padding:1em;
    margin:auto;
    margin-bottom:1em;    
    margin-top:2em;
}

div#portlets-container {
    background:none repeat scroll 0 0 white;
    border:1px solid #A6A6A6;
    margin:auto auto 1em;
    padding:1em;
    width:95%;
}

div#portlets-container div.portlet{
    width:33%;
    float:left;
}

div#portlets-container h1,h2,h3,h4,h5,h6 {
    margin:0;
}

input[type=text] {
    height:22px;
}
select {
    height:30px;
}
input.maininput {
    height:auto;
}

form ul.holder {
    width:250px;
}

caption {
    padding: 0 0 5px 0;
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(/images/bg_header.jpeg) no-repeat;
}

th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #6D929B;
}


tr.specalt td {
    background: #F5FAFA;
    color: #B4AA9D;
}

tr.spec th {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url(/images/bullet1.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

tr.specalt th {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url(/images/bullet2.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}

div.inline_form {
    float:left;
    margin-right:2px;
}
