body {
    margin:0;
    padding:0;
}

#main-container {
    margin:auto;
}
#column-right{
    position:absolute;
    float:left;
    right:0;
/*    padding:1em;*/
    width:13em;
    margin-bottom:0;
    height:100%;
    border-left:3px solid #063A0D;
    border-bottom:20px solid #063A0D;
}
#column-content{
    float:left;
    margin-left:2em;
    width:750px;
}
#top-menu {
    background-color:#063A0D;
    padding:0.5em;
}

#top-menu ul {
	display:inline;
	margin:0.5em;
} 

#top-menu ul li {
    size:+2;
	list-style: none;
	float:left;
	padding: 0 1em 0 1em;
	border: 1px solid black;
}

img {
    border:0px solid transparent;
}

table th {
}

input {
    border:1px solid gray;
}
.mimetic {
	border:0 solid gray;
	width:100px;
}
.inline_form {
    float:left;
    margin-right:0.3em;
}

.inline_form_last {
    clear:both;
}

#actions-container{
    float:right;
    color:white;
}

#actions-container a {
    color:yellow;
}

#portlets-container h3 {
    color:#063A0D;
    margin-left:0;
/*    background-color:#063A0D;*/
}

#portlets-container {
    padding-left:1em;
}

input.add_submit {
    /* just to finish change the add button */
    color:red;
}      

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}   
.button {
	background:#8DBDD8;
	font-size:12px;
	height:16px;
	margin-bottom:7px;
	padding-top:6px;
	text-align:center;  
	margin-right:1px;
}                    
.button a , .button a:visited;{
	text-decoration:none;
	color:#000;	
}
.submitfullbtn {
	display:none;
}