<h2><div class="avatarname"><%= image_tag @user.gravatar_url(:size => 125, :secure => true, :default => 'monsterid')  %><%=h @user.login %></div></h2>
<p>Joined on: <%= @user.created_at.to_s(:long) %></p>

